<%- model_class = Workout -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<%= render :partial => 'form' %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Exercise</th>
        <th>Weight</th>
        <th>Reps</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @workout.workout_sets.each do |set| %>
        <tr>
          <td><%= set.exercise.name %></td>
          <td><%= set.weight %></td>
          <td><%= set.reps %></td>
          <td>Delete</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
