<%= form_for [@workout, @set] do |f| %>

    <% if @workout.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @workout.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @set.new_record? %>
    <h2>Create new set</h2>
  <% else %>
    <h2>Update set</h2>
  <% end %>

  <div class="form-group">
    <%= collection_select(:workout_set, :exercise_id, current_user.exercises, :id, :name, {prompt: "Select an exercise", selected: @set.exercise_id}, {:class => 'form-control'}) %>
  </div>

  <div class="form-group">
    <%= f.label :reps %>
    <%= f.number_field :reps, :class => 'form-control', :min => 0 %>
    <%= error_span(@set[:reps]) %>
  </div>

  <div class="form-group">
    <%= f.label :weight %>
    <%= f.number_field :weight, :class => 'form-control', :min => 0 %>
    <%= error_span(@set[:weight]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            workouts_path, :class => 'btn btn-default' %>

<% end %>
